<!DOCTYPE <html>
<head lang="en">
  <title>Tic Tac Toe</title>
  <meta name="description" content="Tic Tac Toe" />
  <meta name="keywords" content="">

  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/warenhaus-typenhebel" rel="stylesheet" type="text/css"/>
</head>
<body class="body">
  <div class="container">
    <div class="col-6">
      <div class="row-intro">
        <h1 class="title">Tic Tac Toe</h1>
      </div>

     <%= yield %>

    </div>
  </div>

</body>
</html>